@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text: #ffffff;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font-family: 'Roboto';
  --secondary-font-family: 'Raleway';
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --black-font-weight: 900;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  color: var(--primary-text-color);
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn-hero {
  background-color: var(--accent-color);
  color: var(--white-text);
  cursor: pointer;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: var(--bold-font-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: color var(--transition), background-color var(--transition);
  transition: color var(--transition), background-color var(--transition);
}

.btn-hero:hover, .btn-hero:focus {
  background-color: #188ce8;
  color: var(--white-text);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  width: 528px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity var(--transition) 200ms, -webkit-transform var(--transition) 200ms;
  transition: opacity var(--transition) 200ms, -webkit-transform var(--transition) 200ms;
  transition: transform var(--transition) 200ms, opacity var(--transition) 200ms;
  transition: transform var(--transition) 200ms, opacity var(--transition) 200ms, -webkit-transform var(--transition) 200ms;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.modal-btn:hover {
  fill: var(--accent-color);
}

.form-title {
  display: block;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 1.1;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-item .input {
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  outline: transparent;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}

.form-item .input:focus {
  border-color: var(--accent-color);
}

.label-name {
  font-size: 12px;
  font-style: normal;
  font-weight: var(--regular-font-weight);
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.input:focus + .form-icon {
  fill: var(--accent-color);
}

.text-area {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}

.text-area:focus {
  border-color: var(--accent-color);
}

.form-item.coment {
  margin-bottom: 20px;
}

.policy-list {
  font-style: normal;
  font-weight: var(--regular-font-weight);
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: outline-color var(--transition), background-color var(--transition);
  transition: outline-color var(--transition), background-color var(--transition);
}

.checkbox:checked + .custom-checkbox {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
}

.treaty {
  color: var(--accent-color);
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #AFB1B8;
  -webkit-transition: background-color var(--transition), fill var(--transition);
  transition: background-color var(--transition), fill var(--transition);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  fill: #fff;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.title-subscribe {
  display: block;
  color: var(--white-text);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.btn-subscribe-text {
  font-weight: var(--bold-font-weight);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text);
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-place {
  width: 358px;
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.form-place:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.btn-subscribe {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  cursor: pointer;
  background-color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-subscribe::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-size: contain;
  background-image: url("../imeges/icon/svg/send-footer.svg");
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0;
}

.btn-portfolio {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.btn-portfolio:hover, .btn-portfolio:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #000000;
  font-family: var(--secondary-font-family);
  font-weight: var(--bold-font-weight);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}

.text-logo {
  color: var(--accent-color);
}

.site-nav .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav .link {
  position: relative;
  display: block;
  color: var(--title-text-color);
  font-weight: var(--medium-font-weight);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .nav-item {
  margin-right: 50px;
}

.site-nav .nav-item:last-child {
  margin-right: 0;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.contact .contact-item {
  margin-right: 50px;
}

.contact .contact-item:last-child {
  margin-right: 0;
}

.contact .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: var(--medium-font-weight);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color var(--transition), fill var(--transition);
  transition: color var(--transition), fill var(--transition);
}

.contact .link:hover, .contact .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.link .header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../imeges/hero/background.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/hero/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  color: var(--white-text);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: var(--black-font-weight);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* 
  ================ 
  section benefits BEM
  ================   
*/
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.benefits__item {
  width: 270px;
  margin-right: 30px;
}

.benefits__item:last-child {
  margin-right: 0;
}

.benefits__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.benefits__name {
  color: var(--title-text-color);
  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*
============
Work section BEM
============
*/
.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.work__title {
  color: var(--title-text-color);
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.work__item {
  position: relative;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item:last-child {
  margin-right: 0;
}

.work__item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__baner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.work__name {
  color: var(--white-text);
  text-transform: uppercase;
}

.name {
  color: var(--title-text-color);
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.section.team {
  background-color: #f5f4fa;
}

.team-item {
  background: #ffffff;
  /* material shadow v1 */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-right: 30px;
}

.team-item:last-child {
  margin-right: 0;
}

/* 
  ==============
  client section BEM
  ==============  
*/
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  color: var(--title-text-color);
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.client__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: border-color var(--transition), fill var(--transition);
  transition: border-color var(--transition), fill var(--transition);
}

.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-container {
  width: 231px;
  margin-right: 70px;
}

.footer-container .logo {
  display: block;
  color: var(--white-text);
  margin-bottom: 20px;
}

.footer-nav {
  color: var(--white-text);
  font-style: normal;
  /* костиль розібратися */
  line-height: 21px;
}

.footer-address {
  margin-bottom: 9px;
}

.footer-list {
  list-style: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.footer-list .footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.footer-list .footer-link:hover, .footer-list .footer-link:focus {
  color: var(--accent-color);
}

.footer-list-item {
  margin-bottom: 9px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

.follow {
  margin-right: 93px;
}

.title-follow {
  color: var(--white-text);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.follow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--white-text);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.follow-link:hover, .follow-link:focus {
  background-color: var(--accent-color);
}

.follow-item:not(:last-child) {
  margin-right: 10px;
}

.button-filter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  /* margin-right: auto;
  margin-left: auto; */
}

.portfolio-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.title.project-name {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.name-item {
  font-size: 16px;
  line-height: 1.87;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-box {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.flex-item:nth-child(3n) {
  margin-right: 0;
}

.flex-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.overlay {
  position: absolute;
  top: 0;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 294px;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-text {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: var(--regular-font-weight);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.product {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */