.name {
    color: var(--title-text-color);

    font-weight: var(--medium-font-weight);
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 10px;
}

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.position {
    font-size: 16px;
    line-height: 1.19;

    margin-bottom: 16px;
}

.section.team {
    background-color: #f5f4fa;
}

.team-item {
    background: #ffffff;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    text-align: center;

    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}
